$mainFont: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;
$someColor: rgba(130, 130, 130, 1);
$mainColor: rgb(0, 0, 0);
$mainWeight: bold;
$bgColor: #F6F6F6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: $mainFont;
    font-weight: $mainWeight;
    font-size: 16px;
}

header {
    position: fixed;
    background: white;
    width: 100%;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px solid $someColor;

    .list-item {
        a {
            text-decoration: none;
            color: $someColor;

            &:hover {
                color: $mainColor;
                transition: 0.3s;
            }
        }
    }
}

.inform {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 550px;

    img {
        margin-top: 30px;
    }

    .title {
        font-size: 2.5em;
    }
    .subtitle{
        font-size: 1.5em;
    }
}

.language {
    writing-mode: vertical-rl;
    color: $someColor;
}

main {
    padding-top: 100px;
}

.about {
    text-align: center;
    margin-top: 100px;
    background: $bgColor;
    padding: 100px;
}

.about_row {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h3 {
    font-size: 2.125em;
    text-align: center;
}

.skills_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.skill-list {
    display: flex;
    gap: 90px;

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.skills {
    padding: 100px;
}

.portfolio {
    background: $bgColor;
    padding: 100px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 50px;

    &-item {
        display: flex;
        flex-direction: column;
        gap: 50px;

        a {
            color: $mainColor;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $someColor;
            }
        }
    }
}

.footer_row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    .button {
        background: $mainColor;
        color: white;
        border-radius: 50px;
        width: 200px;
        margin: 0 auto;
        padding: 10px;
        margin-top: 20px;
    }
}

.footer-links {
    margin-top: 80px;

    .footer-items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }
}

.footer {
    padding: 100px;
}

.text {
    text-align: center;
    color: $someColor;
    margin-top: 50px;
}

img {
    object-fit: cover;
}

body {
    top: 0 !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    box-shadow: none !important;
}

.skiptranslate {
    display: none !important;
    height: 0 !important;
}

.language__img {
    cursor: pointer;
}
.active{
    color: black;
}

@media screen and (max-width: 1024px) {
    *{
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    *{
        font-size: 10px;
    }
}