doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title portfolio
    body 
        header.header 
            .container 
                nav.user-navigation
                    ul.list-items
                        li.list-item 
                            a.list-link(href="#home") Домой
                        li.list-item 
                            a.list-link(href="#about") О себе
                        li.list-item 
                            a.list-link(href="#skills") Навычки
                        li.list-item 
                            a.list-link(href="#portfolio") Портфолио
                        li.list-item 
                            a.list-link(href="#contacts") Контакты
        main(id="home")
            .container      
                section.inform
                    h1.title Саша <br> Кобзей
                    h2.subtitle програмист  <br>
                        |15 лет, Украина
                    p.language(data-google-lang="ru" id="ru") RU | <span class="active-text" data-google-lang="en" id="eng"> ENG </span>
                    img(src="img/image-1" width="100%" height="400px")    
            section.about(id="about")
                .container 
                    .about_row
                        h3 О себе
                        p Привет, я Сашa – програмист из Украины. <br>
                                | Интересуюсь программированием и всем, что с этим связано.
                        p Учусь на курсах программирования и <br> создания веб-страниц в ШКМ.
                        p Готовы реализовывать отличные проекты <br> с замечательными людьми.
            section.skills(id="skills")
                .container 
                    .skills_row
                        h3 Навычки
                        p Я работаю с такими языками программирования как
                        ul.skill-list
                            li.skill-list-item
                                img(src="img/image-2.png" width="90px" height="90px")
                                p html
                                img(src="img/image-6", alt="")
                            li.skill-list-item
                                img(src="img/image-3.png" width="90px" height="90px")
                                p pug
                                img(src="img/image-7", alt="")
                            li.skill-list-item
                                img(src="img/image-4.png" width="120px" height="90px")
                                p scss
                                img(src="img/image-6", alt="")
                            li.skill-list-item
                                img(src="img/image-5.png" width="70px" height="90px")
                                p css
                                img(src="img/image-6", alt="")
            section.portfolio(id="portfolio")
                .container
                    .portfolio_row 
                        h3 Портфолио
                        ul.portfolio-list
                            li.portfolio-list-item  
                                img(src="img//image-8" width="100%")
                                a(href="#") курсы йоги - scroll web-page
                            li.portfolio-list-item  
                                img(src="img//image-9" width="100%")
                                a(href="#") интернет магазин цветов - scroll web-page
                            li.portfolio-list-item  
                                img(src="img//image-10" width="100%")
                                a(href="#") поездки - scroll web-page
        footer.footer(id="contacts")
            .container 
                .footer_row 
                    h3 Контакты 
                    p Хотите узнать больше или просто поболтать? <br> Добро пожаловать! 
                    a.button Отправить сообщение
                nav.footer-links 
                    ul.footer-items
                        li.footer-item 
                            a(href="#") 
                            img(src="img/image-11" width="40px" height="40px")
                        li.footer-item
                            a(href="#") 
                            img(src="img/image-12" width="40px" height="40px")
                        li.footer-item
                            a(href="#") 
                            img(src="img/image-13" width="40px" height="40px") 
                        li.footer-item
                            a(href="#") 
                            img(src="img/image-14" width="40px" height="40px")
                p.text Я есть на  <br> LinkedIn, Instagram, Behance, Dribble
                script(src="js/main.js" type="text/javascript")
                script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
                script(src="js/google-translate.js" type="text/javascript")
                script(src="translate.google.com/translate_a/element.js?cb=TranslateInit")
                script(src="" type="text/javascript")